@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --nav: #1e3d59;
  --main: #f5f0e1;
  --primary: #ff6e40;
  --secondary: #ffc13b;
}
/* General */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}

p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.section-heading {
  padding: 20px 0;
}

.button {
    width: 40%;
    background-color: var(--nav);
    border: none;
    padding: 9px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
}

/* NAVBAR */

nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: var(--nav);
  font-family: "Poppins", sans-serif;
}

.logo {
  color: var(--main);
  letter-spacing: 5px;
  font-size: 20px;
  margin-left: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0;
  width: 30%;
}

.nav-links li {
  list-style: none;
}
.nav-links a {
  color: var(--main);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.5s ease;
}



/* Landing Section */
#landing {
  background-color: var(--main);
}

.landing {
  min-height: 92vh;
  display: flex;
}

.landing-top {
  display: flex;
  align-items: center;
}

.eoin {
  display: flex;
  justify-content: center;
}

.eoin-img {
  width: 50%;
  border-radius: 50%;
}

.landing p {
  width: 80%;
}

.desk {
  display: flex;
  justify-content: center;
}

.desk img {
  width: 35%;
}

.landing-para a {
  text-decoration: none;
  color: grey;
  font-weight: 600;
}

.landing-para a:hover {
  color: black;
}

.landing-para button {
  color: #fff;
}

/* Skills section */
#skills{
  background-color: var(--primary);
  color: #fff;
}

#skills .devicon {
  color: white;
}

.languages .skills-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 60px;
  color: #fff;
}

.skills-icon p {
  font-weight: 600;
}

.tools-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tools .skills-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33%;
  font-size: 50px;
  padding: 20px 20px 0px;
}

.skills-icon i,img {
  transition: .5s;
}

.tools img {
  width: 50px;
}

.skills-icon i:hover {
  transform: rotate(360deg);
}

.skills-icon img:hover {
  transform: rotate(360deg);
}

.tools p {
  font-size: 15px;
}

/* Projects section */
#projects {
  background-color: #f5f0e1;
}

.icons-mini-container .skills-icon {
  padding: 8px;
  font-size: 20px;
}

.project-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-image {
  display: flex;
  justify-content: center;
}

.project-image img {
  width: 90%;
}

.project-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-button-container {
  display: flex;
}

#projects .button {
  margin: 10px 10px 10px 0;
}

a:hover{color: #fff;}

.skills-icon-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
}


/* Contact section */
#contact {
  background-color: var(--primary);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

form input,
textarea {
  margin-bottom: 10px;
}

form button {
  width: 100px;
  height: 30px;
  border: none;
  margin-bottom: 20px;
}

.contact-card-container {
  position: relative;
  width: 450px;
  height: 270px;
}

.contact-card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.5s ease;
}

.contact-card-container:hover .contact-card {
  transform: rotateY(180deg);
}


.card-front {
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  background-color: var(--nav);
  color: #fff;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-back {
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: var(--nav);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: rotateY(180deg);
}

.title {
  margin: 10px 30px 0;
}

ul {
  list-style: none;
}

.contact-links ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 30px;
    padding-left: 0;
}

.contact-links li{
  transition: all .5s;
}

.contact-links li:hover {
  transform: scale(1.4);
  cursor: pointer;
  color: orange;
}

.info {
  font-size: 20px;
}

.info i {
  margin-right: 5px;
}

.contact-links a {
  text-decoration: none;
  color: #fff;
}

/* Navbar media queries and key frames */
@media screen and(max-width: 1834px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: var(--nav);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 1;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}




@media (min-width: 600px) {
  .tools-container .skills-icon {
    width: 20%;
  }
}

/* Devices 1300px and down */
@media only screen and (max-width: 1300px) {
  /* Navbar  */
  .nav-links {
    width: 50%;
  }

  .nav-links a {
    letter-spacing: 2px;
  }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  /* General */
  p {
    font-size: 1.2rem;
  }

  /* Landing Section */
  .eoin-img {
    width: 60%;
    border-radius: 50%;
  }

  .landing p {
    width: 90%;
  }

  .desk img {
    width: 65%;
  }

  /* About Section */
  .about p {
    width: 100%;
  }
}

/* For phones only */
@media only screen and (max-width: 595px) {
  .landing p {
    width: 100%;
  }

  .about p {
    width: 100%;
  }

  .project-button-container {
    justify-content: center;
  }

  #projects h3 {
    margin: 20px 0 10px;
  }

  #projects h5 {
    margin-bottom: 10px;
  }
}
